@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  display: inline-block; }

input, textarea {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-family: inherit; }

input[type=submit] {
  cursor: pointer; }

textarea {
  resize: none; }

button {
  border: none;
  font: inherit; }

html,
body {
  background: #FFF;
  color: #2D3436;
  font-family: "Comfortaa", "helvetica", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4; }

.xs-c1, .xs-c2, .xs-c3, .xs-c4, .xs-c5, .xs-c6, .xs-c7, .xs-c8, .xs-c9, .xs-c10, .xs-c11, .xs-c12, .xs-auto,
.xs-initial, .sm-c1, .sm-c2, .sm-c3, .sm-c4, .sm-c5, .sm-c6, .sm-c7, .sm-c8, .sm-c9, .sm-c10, .sm-c11, .sm-c12, .sm-auto,
.sm-initial, .md-c1, .md-c2, .md-c3, .md-c4, .md-c5, .md-c6, .md-c7, .md-c8, .md-c9, .md-c10, .md-c11, .md-c12, .md-auto,
.md-initial, .lg-c1, .lg-c2, .lg-c3, .lg-c4, .lg-c5, .lg-c6, .lg-c7, .lg-c8, .lg-c9, .lg-c10, .lg-c11, .lg-c12, .lg-auto,
.lg-initial, .xl-c1, .xl-c2, .xl-c3, .xl-c4, .xl-c5, .xl-c6, .xl-c7, .xl-c8, .xl-c9, .xl-c10, .xl-c11, .xl-c12, .xl-auto,
.xl-initial {
  position: relative;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px; }

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px; }

@media (min-width: 0) {
  .xs-c1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .xs-c2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .xs-c3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .xs-c4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .xs-c5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .xs-c6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .xs-c7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .xs-c8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .xs-c9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .xs-c10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .xs-c11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .xs-c12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .xs-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .xs-initial {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial; } }

@media (min-width: 576px) {
  .sm-c1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .sm-c2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .sm-c3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .sm-c4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .sm-c5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .sm-c6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .sm-c7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .sm-c8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .sm-c9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .sm-c10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .sm-c11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .sm-c12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .sm-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .sm-initial {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial; } }

@media (min-width: 768px) {
  .md-c1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .md-c2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .md-c3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .md-c4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .md-c5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .md-c6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .md-c7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .md-c8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .md-c9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .md-c10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .md-c11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .md-c12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .md-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .md-initial {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial; } }

@media (min-width: 992px) {
  .lg-c1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .lg-c2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .lg-c3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .lg-c4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .lg-c5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .lg-c6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .lg-c7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .lg-c8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .lg-c9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .lg-c10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .lg-c11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .lg-c12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .lg-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .lg-initial {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial; } }

@media (min-width: 1200px) {
  .xl-c1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .xl-c2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .xl-c3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .xl-c4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .xl-c5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .xl-c6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .xl-c7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .xl-c8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .xl-c9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .xl-c10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .xl-c11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .xl-c12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .xl-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .xl-initial {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial; } }

strong {
  font-weight: 700; }

.text-white {
  color: #FFF; }

h2 {
  font-size: 18px;
  font-weight: 700; }

@media (min-width: 0) {
  .xs-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xs-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xs-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xs-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xs-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .xs-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 576px) {
  .sm-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sm-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .sm-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .sm-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sm-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sm-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 768px) {
  .md-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .md-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .md-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .md-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .md-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .md-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 992px) {
  .lg-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .lg-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .lg-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .lg-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .lg-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .lg-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 1200px) {
  .xl-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xl-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xl-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xl-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xl-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .xl-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 0) {
  .xs-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .xs-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .xs-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .xs-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 576px) {
  .sm-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sm-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .sm-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .sm-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 768px) {
  .md-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .md-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .md-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .md-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 992px) {
  .lg-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .lg-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .lg-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .lg-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 1200px) {
  .xl-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .xl-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .xl-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .xl-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 0) {
  .xs-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .xs-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .xs-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .xs-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 576px) {
  .sm-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .sm-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .sm-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .sm-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 768px) {
  .md-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .md-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .md-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .md-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 992px) {
  .lg-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .lg-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .lg-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .lg-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 1200px) {
  .xl-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .xl-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .xl-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .xl-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 0) {
  .xs-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .xs-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .xs-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .xs-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 576px) {
  .sm-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sm-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .sm-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .sm-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 768px) {
  .md-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .md-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .md-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .md-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 992px) {
  .lg-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .lg-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .lg-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .lg-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 1200px) {
  .xl-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .xl-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .xl-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .xl-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text-center {
  text-align: center; }

.h-100 {
  height: 100%; }

.rounded {
  border-radius: 4px; }

.fill-white {
  background: #FFF; }

.fill-blue {
  background: #54A0FF; }

.fill-grey-light {
  background: #F7F6F5; }

.fill-grey-dark {
  background: #2D3436; }

.fill-red {
  background: #FF7675; }

@media (min-width: 0) {
  .xs-pad0 {
    padding: 0px; }
  .xs-pad1 {
    padding: 4px; }
  .xs-pad2 {
    padding: 8px; }
  .xs-pad3 {
    padding: 12px; }
  .xs-pad4 {
    padding: 16px; }
  .xs-pad5 {
    padding: 20px; }
  .xs-pad6 {
    padding: 24px; }
  .xs-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xs-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .xs-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .xs-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .xs-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .xs-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .xs-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .xs-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xs-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .xs-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .xs-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .xs-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .xs-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xs-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .xs-push-y0 {
    margin-top: 0px; }
  .xs-push-y1 {
    margin-top: 4px; }
  .xs-push-y2 {
    margin-top: 8px; }
  .xs-push-y3 {
    margin-top: 12px; }
  .xs-push-y4 {
    margin-top: 16px; }
  .xs-push-y5 {
    margin-top: 20px; }
  .xs-push-y6 {
    margin-top: 24px; } }

@media (min-width: 576px) {
  .sm-pad0 {
    padding: 0px; }
  .sm-pad1 {
    padding: 4px; }
  .sm-pad2 {
    padding: 8px; }
  .sm-pad3 {
    padding: 12px; }
  .sm-pad4 {
    padding: 16px; }
  .sm-pad5 {
    padding: 20px; }
  .sm-pad6 {
    padding: 24px; }
  .sm-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .sm-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .sm-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .sm-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .sm-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .sm-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .sm-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .sm-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .sm-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .sm-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .sm-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .sm-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .sm-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .sm-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .sm-push-y0 {
    margin-top: 0px; }
  .sm-push-y1 {
    margin-top: 4px; }
  .sm-push-y2 {
    margin-top: 8px; }
  .sm-push-y3 {
    margin-top: 12px; }
  .sm-push-y4 {
    margin-top: 16px; }
  .sm-push-y5 {
    margin-top: 20px; }
  .sm-push-y6 {
    margin-top: 24px; } }

@media (min-width: 768px) {
  .md-pad0 {
    padding: 0px; }
  .md-pad1 {
    padding: 4px; }
  .md-pad2 {
    padding: 8px; }
  .md-pad3 {
    padding: 12px; }
  .md-pad4 {
    padding: 16px; }
  .md-pad5 {
    padding: 20px; }
  .md-pad6 {
    padding: 24px; }
  .md-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .md-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .md-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .md-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .md-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .md-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .md-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .md-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .md-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .md-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .md-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .md-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .md-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .md-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .md-push-y0 {
    margin-top: 0px; }
  .md-push-y1 {
    margin-top: 4px; }
  .md-push-y2 {
    margin-top: 8px; }
  .md-push-y3 {
    margin-top: 12px; }
  .md-push-y4 {
    margin-top: 16px; }
  .md-push-y5 {
    margin-top: 20px; }
  .md-push-y6 {
    margin-top: 24px; } }

@media (min-width: 992px) {
  .lg-pad0 {
    padding: 0px; }
  .lg-pad1 {
    padding: 4px; }
  .lg-pad2 {
    padding: 8px; }
  .lg-pad3 {
    padding: 12px; }
  .lg-pad4 {
    padding: 16px; }
  .lg-pad5 {
    padding: 20px; }
  .lg-pad6 {
    padding: 24px; }
  .lg-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .lg-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .lg-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .lg-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .lg-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .lg-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .lg-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .lg-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .lg-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .lg-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .lg-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .lg-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .lg-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .lg-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .lg-push-y0 {
    margin-top: 0px; }
  .lg-push-y1 {
    margin-top: 4px; }
  .lg-push-y2 {
    margin-top: 8px; }
  .lg-push-y3 {
    margin-top: 12px; }
  .lg-push-y4 {
    margin-top: 16px; }
  .lg-push-y5 {
    margin-top: 20px; }
  .lg-push-y6 {
    margin-top: 24px; } }

@media (min-width: 1200px) {
  .xl-pad0 {
    padding: 0px; }
  .xl-pad1 {
    padding: 4px; }
  .xl-pad2 {
    padding: 8px; }
  .xl-pad3 {
    padding: 12px; }
  .xl-pad4 {
    padding: 16px; }
  .xl-pad5 {
    padding: 20px; }
  .xl-pad6 {
    padding: 24px; }
  .xl-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xl-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .xl-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .xl-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .xl-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .xl-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .xl-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .xl-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xl-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .xl-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .xl-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .xl-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .xl-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xl-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .xl-push-y0 {
    margin-top: 0px; }
  .xl-push-y1 {
    margin-top: 4px; }
  .xl-push-y2 {
    margin-top: 8px; }
  .xl-push-y3 {
    margin-top: 12px; }
  .xl-push-y4 {
    margin-top: 16px; }
  .xl-push-y5 {
    margin-top: 20px; }
  .xl-push-y6 {
    margin-top: 24px; } }

#display {
  position: relative;
  font-family: "Roboto Mono", monospace;
  height: 63px; }

#display::after {
  content: attr(data-countdown);
  position: absolute;
  top: 0;
  right: 0; }

.product,
.my-product,
.coin,
.btn {
  width: 100%;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

.product {
  background: #54A0FF; }

.product:hover,
.product:focus {
  background: #2184ff; }

.product:active {
  background: #0069ed; }

.my-product {
  background: #55EFC4; }

.my-product:hover,
.my-product:focus {
  background: #26ebb4; }

.my-product:active {
  background: #13cb98; }

.coin {
  background: #FF7675; }

.coin:hover,
.coin:focus {
  background: #ff5d5c; }

.coin:active {
  background: #ff4342; }

.coin::after {
  content: attr(data-quantity);
  position: absolute;
  top: 10px;
  right: 10px; }

.btn {
  display: block;
  width: 100%;
  text-align: center;
  background: #FF9FF3;
  color: #FFF;
  border-radius: 4px;
  padding: 10px; }

.btn:hover,
.btn:focus {
  background: #ff86f0; }

.btn:active {
  background: #ff6ced; }
