@media (min-width: 0) {
  .xs-pad0 {
    padding: 0px; }
  .xs-pad1 {
    padding: 4px; }
  .xs-pad2 {
    padding: 8px; }
  .xs-pad3 {
    padding: 12px; }
  .xs-pad4 {
    padding: 16px; }
  .xs-pad5 {
    padding: 20px; }
  .xs-pad6 {
    padding: 24px; }
  .xs-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xs-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .xs-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .xs-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .xs-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .xs-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .xs-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .xs-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xs-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .xs-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .xs-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .xs-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .xs-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xs-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .xs-push-y0 {
    margin-top: 0px; }
  .xs-push-y1 {
    margin-top: 4px; }
  .xs-push-y2 {
    margin-top: 8px; }
  .xs-push-y3 {
    margin-top: 12px; }
  .xs-push-y4 {
    margin-top: 16px; }
  .xs-push-y5 {
    margin-top: 20px; }
  .xs-push-y6 {
    margin-top: 24px; } }

@media (min-width: 576px) {
  .sm-pad0 {
    padding: 0px; }
  .sm-pad1 {
    padding: 4px; }
  .sm-pad2 {
    padding: 8px; }
  .sm-pad3 {
    padding: 12px; }
  .sm-pad4 {
    padding: 16px; }
  .sm-pad5 {
    padding: 20px; }
  .sm-pad6 {
    padding: 24px; }
  .sm-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .sm-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .sm-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .sm-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .sm-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .sm-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .sm-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .sm-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .sm-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .sm-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .sm-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .sm-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .sm-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .sm-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .sm-push-y0 {
    margin-top: 0px; }
  .sm-push-y1 {
    margin-top: 4px; }
  .sm-push-y2 {
    margin-top: 8px; }
  .sm-push-y3 {
    margin-top: 12px; }
  .sm-push-y4 {
    margin-top: 16px; }
  .sm-push-y5 {
    margin-top: 20px; }
  .sm-push-y6 {
    margin-top: 24px; } }

@media (min-width: 768px) {
  .md-pad0 {
    padding: 0px; }
  .md-pad1 {
    padding: 4px; }
  .md-pad2 {
    padding: 8px; }
  .md-pad3 {
    padding: 12px; }
  .md-pad4 {
    padding: 16px; }
  .md-pad5 {
    padding: 20px; }
  .md-pad6 {
    padding: 24px; }
  .md-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .md-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .md-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .md-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .md-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .md-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .md-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .md-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .md-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .md-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .md-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .md-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .md-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .md-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .md-push-y0 {
    margin-top: 0px; }
  .md-push-y1 {
    margin-top: 4px; }
  .md-push-y2 {
    margin-top: 8px; }
  .md-push-y3 {
    margin-top: 12px; }
  .md-push-y4 {
    margin-top: 16px; }
  .md-push-y5 {
    margin-top: 20px; }
  .md-push-y6 {
    margin-top: 24px; } }

@media (min-width: 992px) {
  .lg-pad0 {
    padding: 0px; }
  .lg-pad1 {
    padding: 4px; }
  .lg-pad2 {
    padding: 8px; }
  .lg-pad3 {
    padding: 12px; }
  .lg-pad4 {
    padding: 16px; }
  .lg-pad5 {
    padding: 20px; }
  .lg-pad6 {
    padding: 24px; }
  .lg-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .lg-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .lg-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .lg-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .lg-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .lg-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .lg-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .lg-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .lg-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .lg-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .lg-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .lg-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .lg-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .lg-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .lg-push-y0 {
    margin-top: 0px; }
  .lg-push-y1 {
    margin-top: 4px; }
  .lg-push-y2 {
    margin-top: 8px; }
  .lg-push-y3 {
    margin-top: 12px; }
  .lg-push-y4 {
    margin-top: 16px; }
  .lg-push-y5 {
    margin-top: 20px; }
  .lg-push-y6 {
    margin-top: 24px; } }

@media (min-width: 1200px) {
  .xl-pad0 {
    padding: 0px; }
  .xl-pad1 {
    padding: 4px; }
  .xl-pad2 {
    padding: 8px; }
  .xl-pad3 {
    padding: 12px; }
  .xl-pad4 {
    padding: 16px; }
  .xl-pad5 {
    padding: 20px; }
  .xl-pad6 {
    padding: 24px; }
  .xl-pad-x0 {
    padding-right: 0px;
    padding-left: 0px; }
  .xl-pad-x1 {
    padding-right: 4px;
    padding-left: 4px; }
  .xl-pad-x2 {
    padding-right: 8px;
    padding-left: 8px; }
  .xl-pad-x3 {
    padding-right: 12px;
    padding-left: 12px; }
  .xl-pad-x4 {
    padding-right: 16px;
    padding-left: 16px; }
  .xl-pad-x5 {
    padding-right: 20px;
    padding-left: 20px; }
  .xl-pad-x6 {
    padding-right: 24px;
    padding-left: 24px; }
  .xl-pad-y0 {
    padding-top: 0px;
    padding-bottom: 0px; }
  .xl-pad-y1 {
    padding-top: 4px;
    padding-bottom: 4px; }
  .xl-pad-y2 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .xl-pad-y3 {
    padding-top: 12px;
    padding-bottom: 12px; }
  .xl-pad-y4 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .xl-pad-y5 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .xl-pad-y6 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .xl-push-y0 {
    margin-top: 0px; }
  .xl-push-y1 {
    margin-top: 4px; }
  .xl-push-y2 {
    margin-top: 8px; }
  .xl-push-y3 {
    margin-top: 12px; }
  .xl-push-y4 {
    margin-top: 16px; }
  .xl-push-y5 {
    margin-top: 20px; }
  .xl-push-y6 {
    margin-top: 24px; } }
