@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
strong {
  font-weight: 700; }

.text-white {
  color: #FFF; }

h2 {
  font-size: 18px;
  font-weight: 700; }
