@media (min-width: 0) {
  .xs-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xs-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xs-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xs-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xs-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .xs-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 576px) {
  .sm-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sm-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .sm-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .sm-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sm-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sm-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 768px) {
  .md-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .md-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .md-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .md-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .md-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .md-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 992px) {
  .lg-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .lg-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .lg-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .lg-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .lg-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .lg-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 1200px) {
  .xl-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .xl-justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .xl-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .xl-justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .xl-justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .xl-justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (min-width: 0) {
  .xs-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .xs-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .xs-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .xs-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 576px) {
  .sm-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sm-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .sm-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .sm-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 768px) {
  .md-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .md-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .md-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .md-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 992px) {
  .lg-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .lg-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .lg-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .lg-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 1200px) {
  .xl-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .xl-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .xl-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .xl-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; } }

@media (min-width: 0) {
  .xs-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .xs-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .xs-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .xs-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 576px) {
  .sm-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .sm-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .sm-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .sm-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 768px) {
  .md-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .md-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .md-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .md-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 992px) {
  .lg-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .lg-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .lg-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .lg-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 1200px) {
  .xl-align-self-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .xl-align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .xl-align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .xl-align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

@media (min-width: 0) {
  .xs-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .xs-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .xs-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .xs-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 576px) {
  .sm-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sm-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .sm-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .sm-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 768px) {
  .md-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .md-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .md-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .md-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 992px) {
  .lg-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .lg-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .lg-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .lg-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media (min-width: 1200px) {
  .xl-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .xl-dir-col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .xl-dir-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .xl-dir-row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text-center {
  text-align: center; }

.h-100 {
  height: 100%; }

.rounded {
  border-radius: 4px; }

.fill-white {
  background: #FFF; }

.fill-blue {
  background: #54A0FF; }

.fill-grey-light {
  background: #F7F6F5; }

.fill-grey-dark {
  background: #2D3436; }

.fill-red {
  background: #FF7675; }
