@import 'setup';

html,
body {
  background: $white;
  color: $grey-dark;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
